In [1]:
import pandas as pd

In [2]:
Titanic = pd.read_json('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.json')

In [3]:
Titanic.shape

(1309, 14)

In [4]:
Titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [5]:
Titanic.info

<bound method DataFrame.info of       pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex   age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female    29      0      0   24160  211.3375       B5        S    2
1       male  0.92      1      2  113781    151.55  C22 C26        S   11
2     female     2      1      2  113781    151.55  C22 C26        S
3       male    30      1      2  113781    151.55  C22 C26        S
4     female    25      1      2  113781    151.55  C22 C26        S
...      ...   ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.5      1      0    2665   14.4542                 C
1305  female            1      0    2665   14.4542                 C
1306    male  26.5      0      0    2656     7.225                 C
1307    male    27      0      0    2670     7.225                 C
1308    male    29      0      0  315082     7.875                 S

     body                        home.dest
0                             St Louis, MO
1          Montreal, PQ / Chesterville, ON
2          Montreal, PQ / Chesterville, ON
3     135  Montreal, PQ / Chesterville, ON
4          Montreal, PQ / Chesterville, ON
...   ...                              ...
1304  328
1305
1306  304
1307
1308

[1309 rows x 14 columns]>