In [1]:
import pandas as pd

In [2]:
Titanic = pd.read_html('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.html')

In [3]:
Titanic

[          0         1          2                            3       4      5   \
 0     pclass  survived       name                          sex     age  sibsp
 1          1         1      Allen       Miss. Elisabeth Walton  female     29
 2          1         1    Allison        Master. Hudson Trevor    male   0.92
 3          1         0    Allison          Miss. Helen Loraine  female      2
 4          1         0    Allison  Mr. Hudson Joshua Creighton    male     30
 ...      ...       ...        ...                          ...     ...    ...
 1305       3         0     Zabour                 Miss. Hileni  female   14.5
 1306       3         0     Zabour                Miss. Thamine  female    NaN
 1307       3         0   Zakarian              Mr. Mapriededer    male   26.5
 1308       3         0   Zakarian                    Mr. Ortin    male     27
 1309       3         0  Zimmerman                      Mr. Leo    male     29

          6       7       8         9         10    11    12         13
 0     parch  ticket    fare     cabin  embarked  boat  body  home.dest
 1         0       0   24160  211.3375        B5     S     2        NaN
 2         1       2  113781  151.5500   C22 C26     S    11        NaN
 3         1       2  113781  151.5500   C22 C26     S   NaN        NaN
 4         1       2  113781  151.5500   C22 C26     S   NaN        135
 ...     ...     ...     ...       ...       ...   ...   ...        ...
 1305      1       0    2665   14.4542       NaN     C   NaN        328
 1306      1       0    2665   14.4542       NaN     C   NaN        NaN
 1307      0       0    2656    7.2250       NaN     C   NaN        304
 1308      0       0    2670    7.2250       NaN     C   NaN        NaN
 1309      0       0  315082    7.8750       NaN     S   NaN        NaN

 [1310 rows x 14 columns]]

## **Shape**

In [4]:
Titanic.shape

AttributeError: 'list' object has no attribute 'shape'

## **Columns**

In [ ]:
Titanic.columns

## **Info**

In [ ]:
Titanic.info